---
layout: default
---
<div class="container-fluid index">
  <div class="row index all-posts">
    <h1 class="header author-header">
      {{ site.author_name }}
    </h1>
    <h2 class="header" itemprop="headline">
      All posts
    </h2>
{% for post in site.posts %}
  {% capture this_year %}
    {{ post.date | date: "%Y" }}
  {% endcapture %}
  {% capture next_year %}
    {{ post.previous.date | date: "%Y" }}
  {% endcapture %}
  {% if forloop.first %}
    <div class="col-md-12 content-panel articles">
      <h2 id="{{ this_year }}-ref">
        {{ this_year }}
      </h2>
  {% endif %}
      <ul>
        <li>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
      </ul>
    </div>
  {% if !forloop.last and this_year != next_year %}
    <div class="col-md-12 content-panel articles">
      <h2 id="{{ next_year }}-ref">{{next_year}}</h2>
    </div>
  {% endif %}
{% endfor %}
  </div>
</div>
