---
layout: default
---
<div class="container-fluid index">
  <div class="row index all-posts">
    <h1 class="header author-header">
      Search
    </h1>

    <div id="search-container">
      <input type="text" id="search-input" placeholder="Type here...">
      <div class="col-md-12 content-panel articles">
        <ul id="results-container">
          <small>Start typing to see some results</small>
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="/js/jekyll-search.js" type="text/javascript"></script>
<script type="text/javascript">
  SimpleJekyllSearch.init({
    searchInput: document.getElementById('search-input'),
    resultsContainer: document.getElementById('results-container'),
    dataSource: '{{ site.baseurl }}/search.json',
    searchResultTemplate: '<li><a href="{url}" title="{desc}">{title}<\/a><\/li>',
    noResultsText: 'No results found',
    limit: 10,
    fuzzy: true,
  })
</script>
