<div class="footer clearfix">
  <div class="col-md-6">
    {{ site.footer_left }}
  </div>
  <div class="col-md-6">
  </div>
</div>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.mmenu.min.all.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>
  $(document).ready(function() {
    $('#my-menu').mmenu().on('closed.mm', function() {
      $('.menu-button').show();
    });
    $('.menu-button').click(function() {
      $('.menu-button').hide();
      $('#my-menu').trigger('open.mm');
    });
  });
</script>
