<div class="col-md-12 main content-panel">
  <div class="gravatar">
    <a href="/">
      <img src="{{ site.title_image }}" class="img-circle about-image" height="150" width="150" alt="{{ site.title }}">
    </a>
  </div>

  <h1 class="header author-header" itemprop="headline">
    {{ site.title }}
  </h1>

  <div class="author-text">
    {{ site.title_description }}
  </div>

  <div class="links">
{% if site.email %}
      <a href="mailto:{{ site.email }}" target="_new"><i class="fa fa-envelope-o fa-2x"></i></a>
{% endif %}
{% if site.github_username %}
      <a href="https://github.com/{{ site.github_username }}" target="_new"><i class="fa fa-github-alt fa-2x"></i></a>
{% endif %}
{% if site.gitlab_username %}
      <a href="https://gitlab.com/{{ site.gitlab_username }}" target="_new"><i class="fa fa-gitlab fa-2x"></i></a>
{% endif %}
{% if site.stackoverflow_link %}
      <a href="{{ site.stackoverflow_link }}" target="_new"><i class="fa fa-stack-overflow fa-2x"></i></a>
{% endif %}
{% if site.docs %}
      <a href="{{ site.docs }}" target="_new" title="Project Documentation"><i class="fa fa-book fa-2x"></i></a>
{% endif %}
    <a href="feed.xml" target="_new"><i class="fa fa-rss fa-2x"></i></a>
  </div>
</div>
