{% assign language_count = include.langs | size %}
{% if language_count > 0 %}
<p>
  <strong>Language{% if language_count > 1 %}s{% endif %}</strong>:
  {% for lang in include.langs %}
    {% include lang.html name=lang %}
  {% endfor %}
</p>
{% endif %}
