<div class="col-md-12 main content-panel">
  <h2 class="text-center">Libraries</h2>
  <p>
    <a href="{{ site.docs }}" title="Project Documentation">
      Project Documentation
    </a>
  </p>

  <p>
    Various libraries that I maintain, with links to each library's
    repository and documentation.
  </p>

{% for lib in site.data.libraries %}
  {% assign mod = forloop.index | modulo: 2 %}
  {% comment %}
    after every 2 items, create a new row
  {% endcomment %}
  {% if mod == 1 %}
  <div class="row">
  {% endif %}
    <div class="col-xs-12 col-md-6">
  {% include project.html name=lib.name docs=lib.docs repo=lib.repo %}
  {% include langs.html langs=lib.languages %}
      <p>{{ lib.description }}</p>
    </div>
  {% if mod == 0 %}
  </div>
  {% endif %}
{% endfor %}
{% if mod != 0 %}
  </div>
{% endif %}
</div>
