{% assign x = 0 %}
{% assign total = include.items | size %}
<p>
  <strong>{{ include.name }}</strong>:
  {% for item in include.items %}
    {{ item }}{% if forloop.index < total %}, {% endif %}
  {% endfor %}
</p>
