<nav id="my-menu">
  <div>
    <p>{{ site.title }}</p>
    <ul class="pages">
      <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
      <li><a href="/libraries"><i class="fa fa-book"></i> Libraries</a></li>
      <li><a href="/projects"><i class="fa fa-pencil"></i> Projects</a></li>
      <li><a href="/websites"><i class="fa fa-globe"></i> Websites</a></li>
{% if site.docs %}
      <li><a href="{{ site.docs }}"><i class="fa fa-book"></i> Project Documentation</a></li>
{% endif %}
    </ul>
    <p class="links">
{% if site.email %}
      <a href="mailto:{{ site.email }}" target="_new"><i class="fa fa-envelope-o"></i></a>
{% endif %}
{% if site.github_username %}
      <a href="https://github.com/{{ site.github_username }}" target="_new"><i class="fa fa-github-alt"></i></a>
{% endif %}
{% if site.gitlab_username %}
      <a href="https://gitlab.com/{{ site.gitlab_username }}" target="_new"><i class="fa fa-gitlab"></i></a>
{% endif %}
{% if site.docs %}
      <a href="{{ site.docs }}" book" title="Project Documentation"><i class="fa fa-book"></i></a>
{% endif %}
      <a href="/feed.xml" target="_new"><i class="fa fa-rss"></i></a>
    </p>
  </div>
</nav>

<div class="menu-button" href="#menu"><i class="fa fa-bars"></i></div>
