<h4>
  {{ include.name }}
  <small>
{% if include.repo %}
  {% comment %}
    This is a bit magic-y: creating a one-liner to set the `repo` variable.

    Set the value of `repo` to `include.repo` if `include.repo` is _not_
    `true` (i.e. indicating that the name of the project is equivilant to
    the name of the repo).

    Set it to `include.name` if `include.repo` is _not_ `null` or `false`,
    essentially indicating that its value must be `true`.

    Otherwise, the value can be ignored, as theoretically all possible cases
    have been caught, as it has already been confirmed that `include.repo`
    is not false-y.
  {% endcomment %}

  {% if include.repo != true and include.repo %}
    {% assign repo = include.repo %}
  {% elsif include.repo %}
    {% assign repo = include.name %}
  {% endif %}
  {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}/{{ repo }}" title="Repository for {{ include.name }}">
      <i class="fa fa-github"></i>
    </a>
  {% endif %}
{% endif %}
{% if include.docs %}
    <a href="{{ site.docs }}/{{ include.name }}" title="Documentation for {{ include.name }}">
      <i class="fa fa-book"></i>
    </a>
{% endif %}
{% if include.uri %}
    <a href="https://{{ include.uri }}" title="{{ include.name }}'s website">
      <i class="fa fa-link"></i>
    </a>
{% endif %}
  </small>
</h4>
