<div class="col-md-12 main content-panel">
  <h2 class="text-center">Projects</h2>
  <p>
    Projects that I have created and maintain. These can be scripts or
    runnable binaries for others to use or personal projects.
  </p>
{% for project in site.data.projects %}
  {% assign mod = forloop.index | modulo: 2 %}
  {% if mod == 1 %}
  <div class="row">
  {% endif %}
    <div class="col-xs-12 col-md-6">
  {% include project.html name=project.name docs=false repo=project.repo %}
  {% include langs.html langs=project.languages %}
      <p>{{ project.description }}</p>
    </div>
  {% if mod == 0 %}
  </div>
  {% endif %}
{% endfor %}
{% if mod != 0 %}
  </div>
{% endif %}
</div>
