<div class="col-md-12 main content-panel">
  <h2 class="text-center">Websites</h2>
  <p>Websites that I own or have freelanced.</p>
{% for website in site.data.websites %}
  {% assign mod = forloop.index | modulo: 2 %}
  {% if mod == 1 %}
  <div class="row">
  {% endif %}
    <div class="col-xs-12 col-md-6">
  {% if website.img %}
      <img src="/img/website/{{ website.name | downcase | replace: ' ', '_' }}.png" class="img-responsive">
  {% endif %}
  {% include project.html name=website.name docs=false repo=website.repo uri=website.uri %}
  {% include langs.html langs=website.languages %}
  {% include list.html name="Frameworks" items=website.frameworks %}
  {% include list.html name="Tools" items=website.tools %}
      <p>{{ website.description }}</p>
    </div>
  {% if mod == 0 %}
  </div>
  {% endif %}
{% endfor %}
{% if mod != 0 %}
    </div>
{% endif %}
</div>
