<!DOCTYPE html>
<html>
{% include head.html %}
  <body>
{% include menu.html %}
    <div class="page-content">
      <div class="wrap">
        {{ content }}
      </div>
    </div>
{% include footer.html %}
{% include foot.html %}
  </body>
</html>
